<div class="navbar navbar-fixed">
		<div class="navbar-inner">
			<h1 align="center">Welcome to Q & A Forum</h1>
			<%= button_to 'Ask', new_query_path %>
			<%= link_to "HOME", :controller => 'queries', :action => 'index',:class => 'btn btn-mini'%>
		</div>
</div>
<div class="slider navbar">
	<% if session[:user_id]%>
		<% @user= User.find_by_email(session[:user_id]) %>
		Welcome <%= @user.name %>&nbsp;
		Karma= <%= @user.karma %>
		<%=button_to "Logout",:controller => 'users',:action=> 'logout',:class => 'btn btn-mini'%>
	<% else %>
		<table>
		<%= form_for(:user, :url => {:controller => "users", :action => "login", :class => 'btn btn-mini'}) do |f|%>
			<tr>
				<td><%= f.label :"e-mail:"%></td>
				<td><%= f.label :"password:"%></td>
			</tr>
			<tr>
				<td><%= f.text_field :email%></td>
				<td><%= f.password_field :password%></td>
				<td><%= f.submit "Login/Register"%></td>
			</tr>
		<%end%>
		</table>
</div>
		</div>
		<a href="#" id="show_login">Login / Register</a>
		<script> 
			$(document).ready(function() {
				$(".slider").hide();
			});
			$("#show_login").click(function () {
   		   			$(".slider").slideToggle('slow');
    		});
		</script>

	<%end%>
</div>




