<div id="top">

  <h2>Q. <%= @query.question %>
		<% if @query.user.present? %>
  		 By: <%= @query.user.name %>
		 <% else %>
		 By: Anonymous
		 <% end %>
		 <%@post = Query.find_by_id(@query.id)%>
 	 	 <% for post in @post.posts%>
	 		<h3>Ans: <%=post.answer%> 
			<% if session[:user_id] %>
				<div id="rate">
				<%= button_to "+",:controller=>'posts',:action=>'add_rate',:id=>[post.id]%> 
				<%= post.rating%> 
				<% if @karma > 10%>
				<%= button_to "-",:controller=>'posts',:action=>'less_rate',:id=>[post.id]%>
				<% end %>
				</div></h3>
			<% else %>
				<div id="rate">
				<%= post.rating%>
				</div></h3>
			<% end %>
	 	 <%end%>
		 
</div>
<div id="bottom">
  <% if session[:user_id] %>
  	<% form_tag(:controller => "posts", :action => "create") do %>  
  		<%= label_tag(:message, "Answer it") %><br />  
  		<%= text_area_tag(:answer, nil, :size => "44x6") %><br />
  		<%= text_area_tag(:query_id, @query.id, :size => "2x1")%>  
  		<%= submit_tag("Post it") %>
 	<% end %>
	<% else %>
		<h2> Login to Answer</h2>  
<% end %>  
</div>
