<!DOCTYPE html>
<html>
<head>
  <title>Q & A Forum</title>
 <%= stylesheet_link_tag "qa", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body bgcolor='DARKGREY'>
	<%= render :partial=> 'users/header'%>
	<h1 align="center">Welcome to Q & A Forum</h1>
	<%= yield %>
</body>
</html>
