<!DOCTYPE html>
<html>
<head>
  <link href='/qna_icon.ico' rel='SHORTCUT ICON'>
  <title>Q & A Forum</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "jquery-1.7.2" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<script src="http://code.jquery.com/jquery-latest.js"></script> -->
</head>
<body>
	<%= render :partial=> 'users/header'%>
	<div class="span9"><%= yield %></div>
</div>
</body>
</html>
